{% extends "base.html" %}

{% block title %}
    <title>เกี่ยวกับ MoD SuperCode</title>
{% endblock %}

{% block content %}

</head>
<body>


      <div class="container">
    <h1 style="color:green;">ข้อมูลส่วนตัวของ MoD SuperCode</h1>
    <p>ภายหลังจากการทิ้งระเบิดนิวเคลียร์ที่ฮิโรชิม่า และนางาซากิ เมื่อปี ค.ศ. 1945 การทดลองและใช้ระเบิดนิวเคลียร์ของชาติมหาอำนาจก็ยังคงมีอยู่ต่อไปเรื่อย ๆ ในปี ค.ศ. 1954 รัฐบาลสหรัฐอเมริกาได้รับรายงานถึงสิ่งมีชีวิตขนาดใหญ่ที่อาศัยอยู่ใต้ท้องมหาสมุทร จึงตัดสินใจทำลายมันด้วยระเบิดนิวเคลียร์แต่ปกปิดข่าวของมัน ให้กลายเป็นเพียงแค่ว่าเป็นการทดลองระเบิด
     </p>
    </div>
</body>
{% endblock %}